{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
    </head>

    <body>
    <div class="container">
        <h1>Register to MALBvo</h1>
        {% if message %}
            <div class="alert alert-danger" role="alert">{{message}}
            </div>
            </div>
        {% endif %}
        {% if registered %}
        <div class="alert alert-success" role="alert">
        <strong>You are successfully registered</strong>
        </div>
        Go <b><a href="/">Home</a><br /></b>
        {% else %}
        <strong>Register here:</strong><br />

        <form id="user_form" method="post" action="/user/register/" class="form-signin">
            {% csrf_token %}

            <label for="FirstName" class="sr-only">First name</label>
            <input class="form-control" id="FirstName" type="text" name="first_name" placeholder="First name"></input>
            <label for="LastName" class="sr-only">Last name</label>
            <input class="form-control" id="LastName" type="text" name="last_name" placeholder="Last name"></input>
            <label for="UserName" class="sr-only">Username</label>
            <input class="form-control" id="UserName" type="text" name="username" placeholder="Username"></input>
            <label for="email" class="sr-only">Email </label>
            <input class="form-control" id="email" type="email" name="email" placeholder="Email"></input>
            <label for="Password" class="sr-only">Password</label>
            <input class="form-control" id="Password" type="password" name="password" placeholder="Password"></input>

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register"  class="btn btn-lg btn-primary btn-block" />
            or <a href="/user/login" >login</a>
        </form>
        {% endif %}
    </div>
    </body>
</html>