{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<div>
	<h2>Projects</h2>

	<table class="table table-striped">
		<thead>
		<tr><td>id</td><td>Simple name</td><td>Full name</td><td>Homepage</td><td>Description</td></tr>
		</thead>
		<tbody>
		{% for project in projects%}
		<tr>
			<td>{{project.0}}</td>
			<td><a href="/admin/project/{{project.1}}">{{project.1}}</a></td>
			<td>{{project.2}}</td>
			<td><a href="http://{{project.3}}">{{project.3}}</a></td>
			<td>{{project.4}}</td>
		</tr>
		{% endfor %}
		</tbody>


	</table>
</div>


{% endblock %}