body {
	min-width: 100%;
	min-height: 100%;
    height: auto !important;
    height: 100%;
	margin: 0px;
	padding: 0px;
    padding-top: 80px;
    padding-bottom: 40px;
	font-family: Helvetica, Arial, sans-serif;
    background-size: 50% auto;
	background-color: #eaedf1;
	background-color: white;
	color: #383641;
}
